*{
    margin: 0%;
    padding: 0%;
}
body{
    background: #FFFFFF;
}
div{
    margin-top: 0%;
    margin-left: 10%;
    margin-right: 10%;
}
div .center{
    align-content: center;
    padding: 0%;
    margin-top: 0%;
    margin-left: 20%;
    margin-right: 20%;
}
h1,h2,h3,h4,h5{
    color: #000000;
}
h1{
    font-size: 60px;
    color: #05138E;    
}
h2
{
    font-size: 40px;
}
h3{
    font-size: 30px;
}
h4{
    font-size: 20px;
}
h5{
    font-size: 10px;
}
p {
    font-size: 25px;
    text-align: justify;
}
table {

    border: 0;

}