<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Document</title>
  </head>
  <body>
    <H1>División</H1>
  
    <h3>
      Una división es una operación matemática que consiste en dividir un número
      en partes iguales.
    </h3>
    <p>Veamos un ejemplo:</p>

    <h4>50 : 5 (cincuenta entre cinco) es repartir 50 en 5 partes iguales.</h4>

    <p>Una división es la operación inversa a la multiplicación.</p>

    <h2>Partes de la división</h2>

    <p>
      Una división tiene diferentes partes, llamadas términos. Los términos de
      la división son:
    </p>
    <img src="../img/dividiendo.jpg" alt="Dividiendo" />
    <br />
    <h2>Términos de la división.</h2>
    <p><b>DIVIDENDO:</b> es el número que vamos a dividir</p>
    <p>
      <b>DIVISOR:</b> es el número que divide al dividendo, es decir la cantidad
      de partes en la que queremos dividir al dividendo.
    </p>
    <p><b>COCIENTE:</b> es el resultado de la operación</p>
    <p>
      <b>RESTO:</b>: es la parte que sobra, es decir que no se ha podido
      distribuir.
    </p>
    <h4>
      Ahora que sabemos en qué consiste una división y cuáles son sus términos,
      vamos a ver cómo se realiza:
    </h4>

    <h2>Cómo hacer divisiones</h2>

    <p>Vamos a aprender a dividir con un ejemplo práctico:</p>

    <h3>54:9</h3>
    <p>
      Tenemos que averiguar cuántas veces entra <b>9</b> (el divisor) en
      <b>54</b> (el dividendo). Para ello vamos a buscar en la
      <b>tabla de multiplicar del 9</b>, el resultado que esté más cerca de 54,
      pero sin pasarse:
    </p>
    <br />
    <img src="../img/ejemplo dividiendo.jpg" alt="Dividiendo" />
    <br />
    <p>
      Vemos que <b>9×6</b> es igual a <b>54.</b> Por lo tanto <b>6</b> es el
      resultado de la división, es decir el cociente. Y el resto será <b>0</b>,
      porque no nos ha sobrado nada.
    </p>
    <p>
      👉 <b>ATENCIÓN:</b> cuando el resto es 0, es decir que todo el dividendo queda
      distribuido entre el divisor y no sobra nada, se dice que es una <b>división
      exacta.</b> Cuando el resto es un número distinto de 0 (pero siempre menor que
      el divisor), es decir que una parte del dividendo no se ha podido
      distribuir, hablamos de <b>división con resto.</b>
    </p>

    <Button onclick="window.location.href ='menu.html';"
      >REGRESAR AL MENU</Button
    >
  </body>
</html>
