<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Document</title>
  </head>
  <body>
    <H1>Las tablas de multiplicar</H1>
    <br />
    <img src="../img/tablas-multiplicar.png" alt="Tabla de multiplicar" />
    <br />
    <h2>Primero lee las tablas de multiplicar</h2>
    <p>
      Lee varias veces las tablas en voz alta. No tengas prisas, lee con
      atención y de manera pausada, deteniendote unos segundos en cada
      operación. Los diferentes colores también te ayudarán a aprender las
      tablas de multiplicar usando la memoria visual, es decir recordando la
      imagen que has visto y ha quedado impresa en tu memoria.
    </p>
    <p>
      No es necesario que las aprendas todas juntas, de hecho en el cole se
      suele ir de a poco. Comienza con la tabla del 1 y del 2. Luego puedes ir
      sumando las demás.
    </p>

    <h2>Repite todas las tablas de multiplicar</h2>
    <p>
      Después de haber leído varias veces en voz alta las tablas que quieres
      aprender, trata de repetirlas en orden. Es decir, que si has leído la
      tabla del 2, comiences repitiendo: 2×1=2; 2×2=4; 2×3=6, entre otros.
    </p>

    <h2>Practica multiplicaciones salteadas</h2>
    <p>
      ¿Ya te sabes la tabla en orden? ¡Pues ahora la prueba es un poco más
      difícil! En el cole también te pedirán que las sepas salteadas, es decir
      sin seguir el orden 1, 2, 3, 4, etc. Esto es algo más complicado, tendrás
      que saberlas bien para poder responder: practica con el ejercicio que
      hemos preparado y que encontrarás más abajo.
    </p>
    <div>
      <Button onclick="window.location.href ='menu.html';"
        >HACER EVALUACIÓN DE LO APRENDIDO</Button
      >
      <Button onclick="window.location.href ='menu.html';"
        >REGRESAR AL MENU</Button
      >
    </div>
  </body>
</html>
