<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Document</title>
  </head>
  <body>
    <H1>Restas</H1>
    <!--Link  de donde se tomo https://www.pequeocio.com/sumas-restas-primaria/-->
    <h3>
      Restar es quitar una cierta cantidad a otra que ya teníamos
    </h3>

    <h3>Veamos un ejemplo:</h3>
    <br />
    <img src="../img/restas manzana.jpg" alt="Restar Manzana" />
    <br />
    <p>
      Si tengo 5 manzanas en una cesta, y quito 2, dentro de la cesta me
      quedarán 3 manzanas. es decir que 5 menos 2 es igual a 3.
    </p>
    <p>
      Como hemos visto con las sumas, también podemos usar la línea de números
      para restar.
    </p>

    <h3>Por ejemplo:</h3>
    <br />
    <img src="../img/restas-primaria.jpg" alt="Sumar Saltos" />
    <br />
    <p>
      Un pajarito hace 5 saltos y llega al número 5, luego hace 2 saltos hacia
      atrás, y por lo tanto llega al número 3.
    </p>
    <h3>
      👉En una resta, el primero de los dos números que intervienen y es la
      cantidad de la que debe restarse otra se llama MINUENDO. El segundo número
      que debe restarse al primero se llama SUSTRAENDO.
    </h3>
    <Button onclick="window.location.href ='menu.html';"
      >HACER EVALUACIÓN DE LO APRENDIDO</Button
    >
    <Button onclick="window.location.href ='menu.html';"
      >REGRESAR AL MENU</Button
    >
  </body>
</html>
