<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Document</title>
  </head>
  <body>
    <H1>Suma</H1>
    <!--Link  de donde se tomo https://www.pequeocio.com/sumas-restas-primaria/-->
    <h3>
      Sumar es juntar dos o más cosas en un grupo, para saber cuántas hay en
      total.
    </h3>

    <h3>Veamos un ejemplo:</h3>
    <br />
    <img src="../img/sumas manzana.jpg" alt="Sumar Manzana" />
    <br />
    <p>
      Si tengo 2 manzanas verdes y 3 manzanas rojas, y quiero saber cuántas
      manzanas tengo en total, junto todas las manzanas en un solo cesto y las
      cuento: tengo 5 manzanas en total, por lo tanto 2 + 3 es igual a 5.
    </p>
    <p>
      También podemos representar la suma en la línea de números, e ir saltando
      de un número a otro para hacer la suma.
    </p>

    <h3>Por ejemplo:</h3>
    <br />
    <img src="../img/Suma p.jpg" alt="Sumar Saltos" />
    <br />
    <p>
      Un pajarito salta hasta el número 3. Luego hace otros 2 saltos, y llega al
      número 5. Por lo tanto, 2 + 3 es igual a 5.
    </p>
    <h3>
      👉 Los números que se suman dentro de una operación se llaman SUMANDOS
    </h3>
    <Button onclick="window.location.href ='menu.html';"
      >HACER EVALUACIÓN DE LO APRENDIDO</Button
    >
    <Button onclick="window.location.href ='menu.html';"
      >REGRESAR AL MENU</Button
    >
  </body>
</html>
