<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Ejercicio 1 Suma</title>
  </head>
  <body>
    <br />
    <h1 align="center">
      1) Si tengo 2 Manzana y me regalan 2 Manzana más cuanta Manzana tengo
      elija la respuesta correcta:
    </h1>

    <table border="2" align="center">
      <tr>
        <td align="center">
          <img src="../../img/img res/Manzana 1.png" alt="UNA MANZANA" />
        </td>
        <td align="center">
          <img src="../../img/img res/Manzana 4.png" alt="CUATRO MANZANA" />
        </td>
      </tr>
      <tr>
        <td align="center">
          <img src="../../img/img res/Manzana 5.png" alt="CINCO MANZANA" />
        </td>
        <td align="center">
          <img src="../../img/img res/Manzana 2.png" alt="SUMA" alt="DIVIDIR" />
        </td>
      </tr>
    </table>
  </body>
</html>
